{
    "env": {
        "webextensions": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "ignorePatterns": ["**/dist/**", "**/chrome/**"],
    "plugins": ["@typescript-eslint"],
    "rules": {}
}
